* {
    color: #25282E;
}

a, i {
    text-decoration: none;
    transition: .5s ease-in-out;
}

.secondary-color {
    color: #555555;
}

.center-image {
    background-size: cover;
    background-position: center;
}

.btn {
    text-decoration: none;
    background-color: #25282E;
    color: #FFFFFF;
    padding: 7px 18px;
    border-radius: 0;
}

.btn:hover {
    background-color: #333333;
    color: #FFFFFF;
}